:root {
  --primary-color: hsl(270, 84%, 56%);
  --text-color: hsl(0, 0%, 31%);
  --bg-color: hsl(0, 0%, 90%);
  --bg-card-color: hsl(0, 0%, 98%);
  --transition: color 0.1s, background-color 0.2s ease-in-out;
  --border-radius: 0.4em;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: var(--transition);
  font-family: 'Montserrat', sans-serif;
}

body.dark {
  --text-color: hsl(0, 0%, 83%);
  --bg-color: hsl(0, 0%, 15%);
  --bg-card-color: hsl(0, 0%, 20%);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  padding: 0 1.5em;
  background-color: var(--bg-card-color);
  transition: var(--transition);
}

.switches {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle-theme {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.toggle-theme__icon {
  margin-right: 0.5em;
  width: 20px;
}

.toggle-theme__text {
  font-size: 0.8rem;
}

.page__title {
  color: var(--primary-color);
  font-size: 2.4em;
}

.colors {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  width: 100px;
}

.colors__item {
  width: 20px;
  height: 20px;
  border: 1px solid var(--text-color);
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  cursor: pointer;
}

.colors__item--blue {
  --primary-color: hsl(214, 84%, 56%);
}

.colors__item--green {
  --primary-color: hsl(150, 84%, 56%);
}

.colors__item--purple {
  --primary-color: hsl(270, 84%, 56%);
}

.colors__item--orange {
  --primary-color: hsl(46, 84%, 56%);
}

.title {
  text-align: center;
  color: var(--primary-color);
  transition: var(--transition);
}

.main {
  display: grid;
  padding: 2em;
  gap: 0.5em;
}

@media screen and (min-width: 720px) {
  .main {
    grid-template-columns: min-content 1fr;
  }
}

.column {
  display: grid;
  gap: 0.5em;
}

@media screen and (min-width: 720px) {
  .column--right {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, min-content);
  }
}

.card {
  padding: 1em;
  background-color: var(--bg-card-color);
  border-radius: var(--border-radius);
}

.card__image-container {
  min-width: 320px;
  border-radius: var(--border-radius);
  overflow: hidden;
  height: 340px;
}

.card__header {
  padding: 1em 0;
}

.card__title {
  margin: 0;
  margin-bottom: 1em;
  font-size: 1.2rem;
}

.card__subtitle {
  font-size: 0.9rem;
  opacity: 0.8;
}

.card__link {
  margin-bottom: 0.5em;
}

.card__text {
  font-size: 0.9rem;
  line-height: 1.6;
}

.knowlege__item {
  font-size: 0.9rem;
  line-height: 1.6;
}

@media screen and (min-width: 720px) {
  .card--project {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-column: 1/-1;
  }
}

.skills {
  padding: 1em 0;
}

.skills__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.skills__tech {
  width: 100px;
}

.experience {
  margin-bottom: 1em;
  padding: 1em;
  border: 2px solid var(--primary-color);
  border-radius: var(--border-radius);
  transition: var(--transition);
}

.experience__time {
  font-size: 0.8rem;
  margin-bottom: 0.5em;
}

.experience__job {
  margin: 0;
  margin-bottom: 0.5em;
  color: var(--primary-color);
  transition: var(--transition);
}

.experience__description {
  font-size: 0.9rem;
  line-height: 1.6rem;
  margin-bottom: 1.5em;
}

.hobbies__item {
  list-style: none;
  margin-bottom: 0.5em;
}

.icon {
  margin-right: 1em;
}

.project {
  position: relative;
}

@media screen and (min-width: 720px) {
  .project {
    margin-left: 2em;
  }
}

.project__tags {
  display: flex;
  justify-content: space-between;
  margin: 0.5em 0;
  font-size: 0.6rem;
  width: 350px;
}

@media screen and (min-width: 720px) {
  .project__tags {
    width: 350px;
    font-size: 0.8em;
  }
}

.project__tag {
  padding: 0.4em 0.8em;
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  color: var(--bg-color);
  transition: var(--transition);
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 225px;
}

@media screen and (min-width: 760px) {
  .buttons {
    position: absolute;
    bottom: 1em;
  }
}

.button {
  width: 100px;
  line-height: 2.5;
  text-align: center;
  border-radius: var(--border-radius);
  transition: var(--transition);
}

.button--primary {
  color: var(--bg-color);
  background-color: var(--primary-color);
}

.button--ghost {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
